.shop {
    width: 100%;
    height: 87px;
    padding-left: 22px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop .location-dscription {
    flex: 1;
    margin: 0 18px;
    color: #606060;
}

.shop .location-dscription p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}