@import '~antd/dist/antd.css';

.app .menu {
    line-height: 64px;
}

.app .contentWrap {
    padding: 0 50px;
}

.app .content {
    background: #fff;
    padding: 24px;
    min-height: 480px;
}

.app .footer {
    text-align: center;
}